*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* .navbar{
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 20px 50px 0px;
    transition: all 0.3s ease-out 0s;
    background: rgb(255, 255, 255);
} */
/* li,a:hover{
color: #e6324d;
} */